@import "bootstrap/scss/utils";

$utilities: map-merge(
  $utilities,
  (
    "overflow-x": (
      responsive: true,
      property: overflow-x,
      values: auto hidden scroll visible,
    )
  )
);

@import "bootstrap/scss/bootstrap";